/* Font **/

.offont {
    font-family: 'otsutome';
}

.izfont {
    font-family: 'izakaya';
}

.syfont {
    font-family: 'siyuan';
}


@font-face {
    font-family: 'otsutome';
    src: url(../font/OtsutomeFont_Ver3.ttf);
}

@font-face {
    font-family: 'izakaya';
    src: url(../font/Izakaya.ttf);
}

@font-face {
    font-family: 'siyuan';
    src: url(../font/NotoSerifTC-Bold.otf);
}

.toplogo{
    width: 350px;
}

.discribe {
    font-size: larger;
}


/* Template CSS **/


:root {
    --primary: #955807;
    --light: #ffffff;
    --dark: #000000;
    --darkred: #760101;
    --red: #d10000;
    --gray: #777777;
    --lightgray: #cacaca;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

/* meals */
.fooditem{
    margin: 8px 5px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px;
    width: 250px;
    height: 90px;
    background-color: #3a3a3a;
}
.meals{
    display: flex;
    justify-content: space-around;
    padding: 8px 5px 0 5px;
}
.btnitem{
    justify-content: center;
}
/*** logo ***/

.logo {
    width: 60px;
    height: 60px;
}
.con-logo{
    padding: 200px;
}

@media (max-width:992px) {
    .con-logo{
        padding:100px 0;
    }
    .toplogo{
        width: 250px;
    }
    
}


/*** Navbar ***/
.btn{
    padding: 0;
}

.btn-primary{
    font-size: 1.25rem;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 40px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--darkred);
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 80px;
    z-index: 999999999;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--gray);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}
.nav-item >a  {
    font-size: 1.25rem;
}
.navbar-nav  > a{
    font-size: 1.25rem;
}
@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/

.page-header {
    background: linear-gradient(rgba(53, 53, 53, .7), rgba(53, 53, 53, .7)), url(..img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/


.section-title.text-start h1 {
    padding-left: 0;
}

.i-secbg1{
    min-height:600px; 
    background-image: url(../img/about00.png);
    background-size: cover;
    background-attachment: fixed;
}
.i-h1{
    font-size: 7rem;
}

.i-sec-h1-1{
    position: absolute;
    bottom: -1000px;
    right: 50%;
    font-size: 25px; 
    width: 600px;
    text-align: center;
}
.newimg{
    width: 400px;
}
.i-sec-h1-2{
    position: absolute; bottom: -1600px; right: 0px; font-size: 25px; width: 600px;
}

.i-box1{
   width: 600px; 
   height: 400px;
   position: absolute;
   bottom: 9%; left: 15%;
}

.i-img-bg{
    width: 600px;
    position: absolute;
    bottom: -1400px;
    right: 0%;
}

.i-box2{
    width: 650px;
    position: absolute;
    top: -5%;
    left: 10%;
}
.i-p1 >h2{
    font-size:1.5rem;
    width: 600px;
}
.i-img-2{
    width: 500px;
    position: absolute;
    bottom: -1800px;
    left: 0%;
}

.i-img-bg1{
    width: 600px;  position: absolute; bottom: -1800px; left: -10%;
}
.newsbox{
    margin-right: 50px;
}
.i-linep{
    font-size: 25px;
}

/* .navbar-toggler{
    background-color: #ffffff;
    opacity: 30%;
    border-radius: 25px;
} */    

/*** index ***/
@media (max-width: 992px) {
    #menu {
        background-color: #000000;
        background-image: url(../img/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        height: 1800px;
    }
    .newsbox{
        margin-right:10px;
    }
    .i-h1{
        font-size: 4rem;
    }
    .i-sec-h1-1{
        position: absolute;
        bottom: -1000px;
        font-size: 18px; 
        width:280px;
        right: 0px;
    }

    .i-sec-h1-2{
        position: absolute; bottom: -1350px; right: 0px; font-size: 18px; width: 600px;
    }
    .i-img-bg{
        width: 600px;
        position: absolute;
        bottom: -1200px;
        right: 0%;
    }
    
    .i-box1{
        width: 400px;
        height: 200px;
        position: absolute; 
        top: 22%; left: 0%;
    }
    .i-box2{
        width: 400px;
        height: 200px;
        position: absolute; 
        top: -5%; left: 0%;
    }
    .i-secbg1{
        min-height:300px; 
        background-image: url(../img/about00.png);
        background-size: cover;
        background-attachment: fixed;
    }
    .i-p1  {
        text-align: center;
    }

    .i-linep{
        font-size: 18px;
    }

.i-img-bg1{
    width: 600px;  position: absolute; bottom: -1700px; left: -10%;
}

    .i-img-2{
        width: 500px;
        position: absolute;
        bottom: -1700px;
        left: 0%;
    }
    

    .i-p1 >h2 {
        font-size:1rem;
        line-height: 30px;
        width: 310px;;
    }
}

@media (min-width: 992px) {
    .container.about {
        max-width: 100% !important;
    }

    .about-text {
        padding-right: calc(((100% - 960px) / 2) + .75rem);
    }
}

@media (min-width: 1200px) {
    .about-text {
        padding-right: calc(((100% - 1140px) / 2) + .75rem);
    }
}

@media (min-width: 1400px) {
    .about-text {
        padding-right: calc(((100% - 1320px) / 2) + .75rem);
    }
}


/* linerobot */

.linelogo {
    width: 200px;
    height: 200px;
    border-radius: 40px;
    position: absolute;
    top: 55%;
    left: 40%;
}

@media (max-width: 992px) {
    .linelogo {
        width: 200px;
        height: 200px;
        border-radius: 40px;
        position: absolute;
        top: 40%;
        left: 20%;
    }
}


/*** Service ***/

#menu {
    background-color: #000000;
    background-image: url(../img/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 2000px;
}

.service-item img {
    transition: .5s;
}

.service-item:hover img {
    transform: scale(1.1);
}
.newscard{
       width: 250px; 
}

@media (max-width:992px) {
    img.pmenu {
        width: 40%;
    }
}


/*** Feature ***/

@media (min-width: 992px) {
    .container.feature {
        max-width: 100% !important;
        
    }


    @media (min-width: 1200px) {
        .feature-text {
            padding-left: calc(((100% - 1140px) / 2) + .75rem);
        }
    }

    @media (min-width: 1400px) {
        .feature-text {
            padding-left: calc(((100% - 1320px) / 2) + .75rem);
        }
    }

    /* NEWS */


    .btn >img {
        /* background-color: #ffffff;
    border-radius: 20px; */
        box-shadow: 5px 5px 10px #000;
        opacity: 50%;
        transition-duration: .4s;

    }

    .btn >img:hover {
        opacity: 100%;
        /* background-color: rgb(49, 49, 49); */
    }

    /*** Contact ***/

    @media (min-width: 992px) {
        .container.contact {
            max-width: 100% !important;
        }

        .contact-text {
            padding-left: calc(((100% - 960px) / 2) + .75rem);
        }
    }

    @media (min-width: 1200px) {
        .contact-text {
            padding-left: calc(((100% - 1140px) / 2) + .75rem);
        }
    }

    @media (min-width: 1400px) {
        .contact-text {
            padding-left: calc(((100% - 1320px) / 2) + .75rem);
        }
    }


    /*** Footer ***/

    .footer {
        background: black center center no-repeat;
        background-size: cover;
    }

    .footer .btn.btn-social {
        margin-right: 5px;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--light);
        border: 1px solid #FFFFFF;
        transition: .3s;
    }

    .footer-text{
        display:flex;
        justify-content:center;
        padding:0 25%;
    }
    .footer-text >h1{
        color: rgb(255, 255, 255);
    }

    .footer .btn.btn-social:hover {
        color: var(--primary);
    }

    .footer .btn.btn-link {
        display: block;
        margin-bottom: 5px;
        padding: 0;
        text-align: left;
        color: #FFFFFF;
        font-size: 15px;
        font-weight: normal;
        text-transform: capitalize;
        transition: .3s;
    }

    .footer .btn.btn-link::before {
        position: relative;
        content: "\f105";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        margin-right: 10px;
    }

    .footer .btn.btn-link:hover {
        color: var(--darkred);
        letter-spacing: 1px;
        box-shadow: none;
    }

    .footer .copyright {
        padding: 25px 0;
        font-size: 15px;
        border-top: 1px solid rgba(256, 256, 256, .1);
    }

    .footer .copyright a {
        color: var(--light);
    }

    .footer .copyright a:hover {
        color: var(--primary);
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    
}
/*** 線上點餐***/
.cartline{
    position: fixed;
    bottom: 0px;
    z-index: 999;
    width: 100%;
    height: 80px;
    background-color: #760101;
}
 
.sendbtn{
    border-radius: 5px;
    width: 20%;
    height: 65px;
    font-size: 1.25rem;
    margin: 8px 10px 5px 10px;
}
.tablebox, .phonebox{
    padding: 10px 0;
    justify-content: flex-end;
}
.tablebox >h1{
    margin: 10px  ;
}
.m-h1-1{
    font-size: 6rem;
}
.goldfish{
    font-size: 1.5rem;
}

.phonebox >h1{
    line-height: 60px;
    margin:2px  ;
}
.table_number,.phone_number{
    text-align:center;
    font-size: 1.25rem;
    margin: 5px 10px 5px 0;
    border: 0px;
    width: 60%;
    height: 50px;
    border-radius: 5px;
}

.menuamoubt {
    width: 80px;
    height: 35px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 1.5rem;
}

.buybtn {
    width: 30px;
    height: 30px;
    background-color: #760101;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 0px 4px rgb(175, 175, 175);
    margin: 0 10px;
}
@media (max-width:992px) {
    .m-h1-1{
        font-size: 4rem;
    }

    .goldfish{
        font-size: 1.25rem;
    }

    body{
        width: 100%;
    }
    .tablebox >h1{
        font-size: 1.8rem;
        margin:  12px 10px ;
    }
    .phonebox >h1{
        font-size: 1.8rem;
        margin:0px 6px ;
        padding: 0%;
        line-height: 35px;
    }
    .fooditem{
        display: flex;
        justify-content: space-between;
        margin: 8px -1px;
        border-radius: 25px;
        box-shadow: 5px 5px 5px;
        width: 400px;
        height: 70px;
        background-color: #3a3a3a;
    }
    .meals{
        display: flex;
        justify-content: flex-start;
        padding: 20px 5px 0 5px;
    }
    .meals >h2{
        font-size: 1.2rem;
    }
    .meals >h3{
        font-size: 1.1rem;
    }
    .meals >h4{
        font-size: 1.2rem;
    }
    .table_number,.phone_number{
        text-align:center;
        font-size: 1.25rem;
        margin: 5px 10px 5px 0;
        border: 0px;
        width: 60%;
        height: 50px;
        border-radius: 5px;
    }
    
    .menuamoubt {
        width: 80px;
        height: 35px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        font-size: 1.5rem;
    }

    .buybtn {
        width: 30px;
        height: 30px;
        background-color: #760101;
        border: none;
        border-radius: 25px;
        margin: 0 10px;
    }
    .btnitem{
        margin: 20px  0 ;
    }
     
    .sendbtn{
        border-radius: 5px;
        width: 20%;
        height: 65px;
        font-size: 1.25rem;
        margin: 8px 10px 5px 10px;
    }
    
}
    

/* 本店介紹 */
.disc1{
    position: relative;
    top: 90px;
    left: 0;
    width: 325px;
}
.disc2{
    position: relative;
    left: -100px;
    top: 90px;
    width: 900px;
}

img.aboutpic1{
    margin-top:-30px;
    width: 900px;
    height: 600px;
}

img.aboutpic2{
    position: relative;
    bottom: 100px;
}


@media (max-width:992px) {
    .disc2{
        width: 200px;
    }
    
    img.aboutpic1{
        margin-top:-20px;
        width: 30px;
    }
}


/* about */
.a-bg0{
    background-image: url(../img/graymarble.png); height:1700px; width: 100%;
}
.a-bg01{
    background-image: url(../img/graymarble.png); height:1700px; width: 100%;
}
.a-bg1{
    background-image:url(../img/sec2-bg.jpg) ;height:600px;
}
.a-bg2{
    background-image:url(../img/sec3-bg.jpg) ;height:600px;
}
.a-sec1{
    font-size: 8rem; width: 600px; position: absolute; left:400px; top: 210px;}

.a-img1{
    position: absolute;
    left: 1200px;
    top: -120px;
}
.a-box1{
    display: flex;
    justify-content: center;
    padding: 200px 10% 0 10%;
}
.a-box4{
    display: flex;
    justify-content: center;
    padding: 200px 10% 0 10%;
}
.a-img5{
    width: 100%;
    
}
.a-box2{
    padding-top: 200px;
}
.a-box3{
    padding: 150px 0 0 0;
}
.a-sec2{
     width: 80%;   
}
.a-sec4{
    width:180px
    ;
}
.a-img2{
    width: 100%;
}
.a-img3{
    width: 120%;
}
.a-img4{
    width: 100%;
    height: 600px;
} 
.a-p1{
    width: 550px; font-size: 1.5rem;  
}
.a-p2{
    width: 450px; font-size: 1.5rem; position: absolute; top: 0px; left: 50px;
}
.a-map{
   object-fit: cover; width: 800px; height: 600px;
}
.a-btn1 >a{
    width: 400px;
    height: 80px;
    line-height: 60px;
}
@media (max-width:992px) {
    .a-bg0{
        background-image: url(../img/graymarble.png); height:1500px;;
    }
    .a-bg01{
        background-image: url(../img/graymarble.png); height:1000px;;
    }
    .boxset{
        display: flex;
        justify-content: center;
    }
    .a-sec1{
    font-size: 3rem; width: 300%; 
    position: absolute; 
    left:0px; top: 130px;
    }
    .a-img1{
        position: absolute;
        width: 100px;
        left: 250px;
        top: 20px;
    }
    .a-img4{
        width: 280px;
        height: 200px;
    }
    .a-sec4{
        width: 70px;
        height: 210px;
    }
    .a-bg1{
        background-image:url(../img/sec2-bg.jpg); height: 300px;
    }
    .a-bg2{
        background-image:url(../img/sec3-bg.jpg); height: 300px;
    }
    .a-box1{
        display:block;
        justify-content: center;
        align-items: center;
        padding: 50px 5% 0 5%;
    }
    .a-box2{
        padding-top: 80px;
    }
    .a-box3{
        padding-top: 100px;
    }
    .a-box4{
        display:block;
        justify-content: center;
        align-items: center;
        padding: 50px 5% 0 5%;
    }
    .a-sec2{
        width: 300px;   
    }
    .a-img2{
        width: 300px;
    }
    .a-img3{
        width: 100%;
    }
    .a-p1{
        width: 300px; font-size: 1rem;  
    }
    .a-btn1 >a{
        width: 300px;
        height: 60px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .a-btn1{
        display: flex;
        justify-content: center;
    }
    .a-map{
        object-fit: cover; width: 100%; height: 300px;
        display: flex;
        justify-content: center;
    }
    .a-sec3{
        width: 250px;  
    }
    .a-img5{
        width: 300px;
    }
    .a-sec5{
        margin-top: 20px;
        width: 300px;
        height: 120px; 
    }
    .a-p2{
        width: 300px; font-size: 1rem; top: 20px; left: 25px;
    }
}
/* food */
.f-h1-1{
    font-size: 8rem; width: 600px; position: absolute; right:10%; top: 25%;
}
.f-h1-2{
    font-size: 8rem; padding-top: 100px;
}
.f-img1{
    width: 450px; position: absolute; right:15%; top: 35%;
}
.f-box1{
    background-image: url(../img/f-bg1.png); height:800px ; width: 100%; background-repeat: no-repeat;
}
.f-box2{
    background-image: url(../img/f-bg2.png); height:600px ; width: 100%; background-repeat: no-repeat;
}
.f-box3{
    background-image: url(../img/graymarble.png); height:2300px ;
}
.f-box3-1{
    padding:150px 10% 0px 10%;
}
.f-box3-item{
    width: 100%; padding: 0% 5% 3% 5%; 
}
.item-width{
    width:25%;
}
@media (max-width:992px) {
    .f-h1-1{
        font-size: 4rem; width: 100%; position: absolute; top: 20%;  right:0%; text-align: center;
    }
    .f-h1-2{
        font-size: 4rem; padding-top: 50px;
    }
    .f-img1{
        width: 100%; position: absolute; right:0%; top: 25%;
    }
    .f-box1{
        background-image: url(../img/f-bg1.png); height:600px ; width: 100%;
    }
    .f-box2{
        background-image: url(../img/f-bg2.png); height:250px ; width: 100%;
    }
    .f-box3{
        background-image: url(../img/graymarble.png); height:600px ;
    }
    .f-box3-1{
        padding:5% 0% 0% 0%;
    }
    .f-box3-item{
        width: 100%; padding: 0%; 
    }
    
.item-width{
    width:50%;
}
/* contact */
.contact-box{
    width: 700px;
     height: 400px; 
     background-color: rgb(234, 234, 234)
    }  
    .line-contact{
        width:280px;
    }
    .tel-contact{
        width:280px;
    }
    .a-tel-contact{
        width: 90%;
    }
    
    @media (max-width:992px) {
        .contact-box{
            width: 400px;
             height: 300px; 
             background-color: rgb(234, 234, 234);
             display: table-column;
        }
    
        .contact-box >p{
            line-height:0;
        }
        .line-contact{
            width: 90%;
            
        }  
        .tel-contact{
            width: 100%;
        }
        .a-tel-contact{
            width: 90%;
        }
    }
}
.c-p {
    font-size: 1.5rem;
}
.c-h1-1{
    font-size: 7rem;
}
.c-h1-2{
    font-size: 7rem;
}
.c-map{
    width:100% ; height: 650px; object-fit: cover;
}
.c-img1{
    width: 600px; height: 550px;
}
.c-img2{
    margin-bottom: 5px;
    width: 75px;
    border-radius: 15px;
}
.c-logoset{
    padding-top: 200px;
}
.c-box{
    width:100%;
}
.footerlogo{
    width:300px;
}

.bttn >button{
    width: 100%;

}
@media (max-width:992px) {
    .newscard{
        width: 80px; 
    }
 
    .c-p {
        font-size: 1rem;
    }
    .c-h1-1{
        font-size: 4rem;
    }
    .c-h1-2{
        padding-top: 50px;
        font-size: 4rem;
    }
    .c-map{
        width:100% ; height: 400px; object-fit: cover;
    }
    .c-img1{
        width:95%;
        height: 350px;
    }
    .c-img2{
        margin: 0 5% 5px 5%;
        width: 45px;
        border-radius: 15px;
    }
    .c-box{
        padding-left: 25px;
        width:95vw;
    }
    .form-control {
        width: 100%;
    }
    .bttn >button{
        width: 100%;

    }
}